<!DOCTYPE html>
<html>
  <head>
    <title>MovieSearcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3 shadow">
      <%= link_to 'Movie Searcher', root_url, class: "navbar-brand" %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_url, class: "nav-link" %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
